:root {
  --main-color: #757575;
  --dark-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body { 
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.container-hf {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid tomato;
}

.container {
  width: 1170px;
  padding: 94px 15px 94px 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid tomato;
}

.list,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flexbox {
  display: flex;
  align-items: center;

}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  margin-right: 85px;
}

.menu-list,
.contacts-list {
  display: flex;
}

.menu-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}

.accent-blue,
.menu-list .current {
  color: var(--accent-color);
}

.accent-black {
  color: var(--dark-color);
}

.accent-white,
.white {
    color: var(--white);
}

.contacts-link {
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color);
  background-image: linear-gradient(to right, rgba(47, 47, 58, 0.8),rgba(47, 47, 58, 0.8)),
  url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  text-align: center;
}

.hero-title {
  padding-top: 200px;
  margin: 0 0 30px 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.btn-studio {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  padding: 10px 32px 10px 32px;
}

.advantages-list {
  display: flex;
}

.advantages-title {
  width: : calc((100% - 30px * 3) / 4);
  margin: 0 30px 0 0;
}

.advantages-item {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--dark-color);
  margin: 0 0 10px 0;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  color: var(--dark-color);
  text-align: center;
  margin: 0px 0 50px 0;
}

.examples-list {
  display: flex;
}

.examples-item{
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.examples-title {
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item{
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: var(--dark-color);
  text-align: center;
}

.member-position {
  font-size: 16px;
  line-height: 1.187;
  color: var(--main-color);
  text-decoration: none;
  text-align: center;
  margin-bottom: 16px;
}

.social-networks,
.fsocial-networks {
  display: flex;
}

.networks-title {
  width: calc((100% - 10px * 3) / 4);
  margin-right: 10px;
  padding:16px 0 24px 0;
}

.networks-title:nth-child(4n) {
  margin-right: 0;
}

.clients-list {
  display: flex;
}

.clients-name {
  width: calc((100% - 30px * 5) / 6);
  margin-right: 30px;
}

.clients-name:nth-child(6n) {
  margin-right: 0;
}

footer {
  background-color: var(--footer-bg-color);
}

footer .container-hf{
  height: 252px;
}

.fnetworks-title {
    margin-right: 10px;
    padding-top: 20px;
    text-align: center;
}

.footer-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.footer-item1 {
  width: calc(50% - 15px);
  margin-left: 15px;
} 

.footer-addres {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}

.list .link {
  text-decoration: none;
  font-style: normal;
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--dark-color);
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.choice {
  margin-bottom: 50px;
}

.choice-list {
  display: flex;
  justify-content: center;
}

.choice-item:not(:last-child) {
  margin-right: 8px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 2;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--dark-color);
  text-decoration: none; 
}

.filter-title {
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-color);
  text-decoration: none
}

.filter-description {
  font-size: 18px;
  line-height: 1.555;
  background-color: rgba(33, 150, 243, 0.9);;
  color: var(--white);
  text-decoration: none;
}  

.filter-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-element {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.filter-element:nth-child(3n) {
  margin-right: 0;